@{
    ViewBag.Title = "Home Page";
    
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div style="padding-top: 8em">

    <div class="row">
        <div class="col-md-6" style="float:left">
            <center>
                <img src="/Logo1.png" style="height: 500px; width: 500px">
            </center>

        </div>

        <div class="col-md-6" style="float: right; padding-top: 6em; color:black">
            <h1 class="burh" style="font-size:400%; font-family:'Fredoka One'">All your bio links <br /> in one single <br /> place</h1>
            <br />
            <p style="font-size: 150%; font-family: 'Fredoka One'">Register now and create your own link tree</p>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Register">Create your account here !!</a>
        </div>
        
    </div>
</div>



<style>
    body {
        background-color: #e5f9e0;
    }
    a{
        font-family: 'Fredoka One';
    }
</style>
