@model PineLinks.Models.UserModel
@{
    ViewBag.Title = "nwm Page";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <form asp-action="nwm" enctype="multipart/form-data">

        
        <input asp-for="Image" />

        <input type="submit" />
    </form>
</div>

<p>
    @if(Model.test != null){
        var base64 = Convert.ToBase64String(Model.test2);
        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgsrc">
    }else{

    }
</p>

<style>

    body {
        background-color: #e5f9e0;
    }

    label {
        font-family: 'Fredoka One';
    }

    h2 {
        font-family: 'Fredoka One';
    }

    h1 {
        font-family: 'Fredoka One';
    }

    p {
        font-family: 'Fredoka One';
    }

    a {
        font-family: 'Fredoka One';
    }

    button {
        font-family: 'Fredoka One';
    }

    input {
        font-family: 'Fredoka One';
    }
</style>
