@model PineLinks.Models.UserModel
@{
    ViewBag.Title = "Test Page";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <form asp-action="Create" enctype="multipart/form-data">

        
        <input asp-for="Image" />

        <input type="submit" />
    </form>
</div>

<style>

    body {
        background-color: #e5f9e0;
    }

    label {
        font-family: 'Fredoka One';
    }

    h2 {
        font-family: 'Fredoka One';
    }

    h1 {
        font-family: 'Fredoka One';
    }

    p {
        font-family: 'Fredoka One';
    }

    a {
        font-family: 'Fredoka One';
    }

    button {
        font-family: 'Fredoka One';
    }

    input {
        font-family: 'Fredoka One';
    }
</style>

