@model PineLinks.Models.LinkModel;
@{
    ViewBag.Title = "Add Link Page";

}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <center>
        <form id="Login" asp-action="Add" asp-controller="Link" method="post">
            <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header">
                    <h2>Add new link</h2>
                </div>

                <div style="margin:2rem">
                    <div class="form-group">
                        <label asp-for="LinkLabel" class="control-label">Link Label</label>
                        <input asp-for="LinkLabel" class="form-control" placeholder="Link Label" type="text" />
                        <span asp-validation-for="LinkLabel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkUrl" class="control-label">Link Url</label>
                        <input asp-for="LinkUrl" class="form-control" placeholder="Link Url" type="text" />
                        <span asp-validation-for="LinkUrl" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-1">
                            <input id="makeit" type="submit" value="Add" class="btn btn-dark" style="margin-top:20px" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>
</div>

<style>
    body {
        background-color: #e5f9e0;
    }

    label {
        font-family: 'Fredoka One';
    }

    h2 {
        font-family: 'Fredoka One';
    }

    p {
        font-family: 'Fredoka One';
    }

    a {
        font-family: 'Fredoka One';
    }

    button {
        font-family: 'Fredoka One';
    }

    input {
        font-family: 'Fredoka One';
    }
</style>

