@model PineLinks.Models.RegisterModel;
@{
    ViewBag.Title = "Register Page";
    
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <center>
        <form id="Register" asp-action="CreateAccount" asp-controller="Register" method="post" enctype="multipart/form-data">
        <div class="card border-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">
                <h2>Register</h2>
            </div>
            
            <div style="margin:2rem">
                <div class="form-group">
                     <label asp-for="Login" class="control-label">Login</label>
                     <input asp-for="Login" class="form-control" placeholder="Login" type="text" required/>
                     <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
					<input asp-for="Password" class="form-control" placeholder="Password" type="password" required/>
					<span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                     <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                     <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password"/>
                     <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name" type="text" required/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email" type="email" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-1">
                            <input id="makeit" type="submit" value="Create Account" class="btn btn-dark" style="margin-top:20px"/>
                        </div>
                    </div>
            </div>
        </div>
        </form>

        <div>
            @if (ViewData["LoginDouble"] != null)
            {
                <br />
                <center>
                    <h2>Login, Email or name is already taken, try something else or log in to your existing account</h2>
                </center>
            }
        </div>

        <div>
            @if (ViewData["Success"] != null)
            {
                <br />
                <center>
                    <h2>Nice !!!, account created succesfully</h2>
                </center>
            }else{
                if(ViewData["Failed"] != null)
                {
                    <br />
                    <center>
                        <h2>Dang it !!!, failed to create account, try again</h2>
                    </center>
                }
            }
        </div>

    </center>
</div>

<style>
    body {
        background-color: #e5f9e0;
    }
    label{
        font-family: 'Fredoka One';
    }
    h2{
        font-family: 'Fredoka One';
    }
    p{
        font-family: 'Fredoka One';
    }
    a {
        font-family: 'Fredoka One';
    }
    button{
        font-family: 'Fredoka One';
    }
    input{
        font-family: 'Fredoka One';
    }
</style>