@{
    ViewBag.Title = "Register Page";
    
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">

<div>
    <center>
        <div class="card border-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">
                <h2>Register</h2>
            </div>
            
            <div style="margin:2rem">
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Login</label>
                    <input type="text" class="form-control" placeholder="Login" id="inputDefault">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="inputDefault">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" id="inputDefault">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="inputDefault">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">Email</label>
                    <input type="email" class="form-control" placeholder="Email" id="inputDefault">
                </div>
                <button type="button" class="btn btn-dark" style="margin-top:20px">Create Account</button>
            </div>
        </div>
    </center>
</div>

<style>
    body {
        background-color: #e5f9e0;
    }
    label{
        font-family: 'Fredoka One';
    }
    h2{
        font-family: 'Fredoka One';
    }
    p{
        font-family: 'Fredoka One';
    }
    a {
        font-family: 'Fredoka One';
    }
    button{
        font-family: 'Fredoka One';
    }
</style>